// **** VARIABLES **** //
// =================== //

// Main colors
$red-dark-main: #ff6060;
$red-dark-second: #ffd78e;

// Validate colors
$bg-alerte: #ff0000;
$bg-succes: #008000;

// Texts colors
$txt-light: #000000;
$txt-dark: #808080;

// Dimensions / Position
$radius-xl: 20px;
$radius-m: 10px;
$radius-xs: 5px;